body {
  height: 100vh;
  background: linear-gradient(90deg, #9896f0, #fbc8d5);
  background-size: 100% 100%;
  animation: change 2.5s infinite ease-in-out;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

h1 {
  color: white;
  text-align: center;
  margin-top: 0px;
}

.stats {
  color: white;
}

.controls {
  text-align: center;
}

button {
  border-radius: 30px;
  border-color: transparent;
  height: 40px;
  width: 100px;
  margin-top: 15px;
  color: #9896f0;
  transition: 0.1s ease-in;
}

button:hover {
  color: white;
  box-shadow: inset -3.6em 0 0 0 #ec4f76, inset 3.6em 0 0 0 #ec4f76;
}

img {
  width: 100%;
  height: 100%;
  border: 1px solid #ec4f76;
}

.score {
  flex-direction: row;
  justify-content: center;
}

.score h1 {
  font-size: 20px;
  margin: 20px;
  font-weight: bold;
  width: 50%;
}

.memory-game {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 10px;
  perspective: 1000px;
}

.face-up,
.face-down {
  position: absolute;
  border-radius: 10px;
  backface-visibility: hidden;
}

.memory-card {
  width: 22%;
  height: 20%;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: 0.5s;
}

.memory-card :active {
  transform: scale(0.96);
  transition: 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.face-up {
  transform: rotateY(180deg);
}

.game-end{
display:flex;
justify-content: center;
align-items: center;
font-weight: 600;
font-size: 100px;
color:white;

}